numpy
pytubeX
shortuuid
opencv-python
pytest
matplotlib
typer
ffmpeg
moviepy
tensorflow-rocm==1.15.9
dlib
gdown
pandas
torch -f https://download.pytorch.org/whl/rocm4.0.1/torch_stable.html
ninja
'git+https://github.com/pytorch/vision.git@v0.9.0'
